apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp-deployment
  namespace: argo
spec:
  replicas: 2
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
      - name: myapp-container
        image: docker.io/smilylife996/myapp:latest
        ports:
        - containerPort: 80
      imagePullSecrets:
      - name: regcred  # Use this if your image requires authentication

