apiVersion: v1
kind: Service
metadata:
  name: myapp-service
  namespace: argo
spec:
  selector:
    app: myapp
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
  type: LoadBalancer  # Or ClusterIP / NodePort based on your environment

